# Frontend
streamlit
streamlit-mic-recorder
#framework
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-ollama
#backend
fastapi
uvicorn[standard]
python-dotenv
python-multipart
pydantic
pydantic-settings
#LLM
transformers
accelerate
sentencepiece
tokenizers
huggingface-hub
#Embedding
sentence-transformers
#vector databse
faiss-cpu
#Mongodb
pymongo
motor
#Audio
sounddevice
soundfile
librosa
pydub
ffmpeg-python
# Machine Learning
torch
torchvision
torchaudio
numpy
scipy
pandas
scikit-learn

# Networking
requests
httpx

# Utilities
loguru
rich
tqdm
orjson

# File Processing
pypdf
pdfplumber
python-docx
openpyxl
# Image Processing
Pillow
opencv-python

# Authentication

passlib[bcrypt]
python-jose[cryptography]
email-validator
#AWS
boto3
#testing
pytest
pytest-asyncio

# Translation Dependencie
torch>=2.2.0
transformers>=4.40.0
sentencepiece>=0.2.0
sacremoses>=0.1.1
accelerate>=0.30.0
langdetect>=1.0.9

# Optional (for faster language detection)
fasttext-wheel>=0.9.2

# Utilities
protobuf>=4.25.0
numpy>=1.26.4